<!doctype html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> dndDice</title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body style="background-color: pink">

    <h1 style="text-align: center"> DND DICE </h1>
    <h2 style="text-align: center"> Choose your dice! </h2>
<div class="button-container">
    <button class="roll-dice" data-sides="4">Roll D4</button>
    <button class="roll-dice" data-sides="6">Roll D6</button>
    <button class="roll-dice" data-sides="8">Roll D8</button>
    <button class="roll-dice" data-sides="10">Roll D10</button>
    <button class="roll-dice" data-sides="12">Roll D12</button>
    <button class="roll-dice" data-sides="20">Roll D20</button>
</div>
    
    
    <div id="result"></div>
    <script src="/main.js"></script>

</body>


</html>